<!doctype html>

<html lang="en">

<head>


  <meta charset="utf-8">

  <title>Metadate</title>
  <meta name="description" content="Metadate">
  <meta name="author" content="Philipp Hufnagl">

  <link rel="stylesheet" type="text/css" href="public/style.css">

</head>

<body>
  <div id="frame">

    <h1 id="heading">METADATE</h1>
    <div class="head" id="content">
      <form method="post" id="form" action="/">
        {% for error in errors %}
        <div class=row>
          <div class=error>
            {{ error }}
          </div>
        </div>
        {% endfor %}
        <div class="row">
          <input type="text" name="who" maxlength=15 value="{{ date.who }}" class="whoWhat" placeholder="Who">
          <div id="seeks">seeks</div>
          <input type="text" name="what" maxlength=15 value="{{  date.what }}" class="whoWhat" placeholder="What">
        </div>
        <div class="row">
          <p class="fieldDescriptions">Please briefly explain what you seek in 200 words or fewer. Please keep it
            legal!
          </p>
          <textarea id="shortdesc" class="inputFields" maxlength="200" name="shortdesc"
            placeholder="">{{ date.shortdesc }}</textarea>
        </div>
        <div class="row">
          <p class="fieldDescriptions">Please thoroughly describe what you seek in as many words as you need. Please
            still keep it legal!</p>
          <textarea id="longdesc" class="inputFields" name="longdesc" placeholder="">{{ date.longdesc }}</textarea>
        </div>
        <div class="row">
          <p class="fieldDescriptions">Please explain how intrigued people can contact you.</p>
          <textarea id="contact" class="inputFields" name="contact" placeholder="">{{date.contact }}</textarea>
        </div>
        <div class="row">
          <p class="password">Set a password used to delete the date (or leave blank)</p>
          <textarea id="password" class="inputFields" name="password" placeholder="">{{ date.password  }}</textarea>
        </div>
        <div class="row">
          <p class="password">How many days would you like the date to be displayed</p>
          <input class="editDate" name="action_type" type="submit" value="1" />
          <input class="editDate" name="action_type" type="submit" value="7" />
          <input class="editDate" name="action_type" type="submit" value="14" />
        </div>
      </form>
    </div>
  </div>
</body>

</html>