<!doctype html>

<html lang="en">

<head>


    <meta charset="utf-8">

    <title>Metadate</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" type="text/css" href="public/style.css">

</head>

<body>
    <div id="frame">

        <h1 id="heading">METADATE</h1>
        <div id="content">
            <div class=row>
                <a class="link" href="/newdate">New Date</a> <a class="link" href="/kiosk">Kiosk</a>
            </div>
            {% for date in dates %}
            <div class=row>
                <a href="date/{{ date.id }}">
                    <span class="inputFields">
                        <span class="listheader">
                            {{ date.content.who }} seeks {{ date.content.what }}
                        </span>
                        <br>
                        <span class="listcontent">
                            {{ date.content.shortdesc }}
                        </span>

                    </span>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</body>

</html>